body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 250px;
    background-color: #18191a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../blog-app/assets/header.png);
    background-size: cover;
    background-position: center;
    position: relative;

}

header > * {
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #18191a;
    opacity: 40%;

}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    background-image: url("../../blog-app/assets/SB.jpg");
    background-size: cover;
}

.profile-name {
    margin-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    margin-top: 24px;
    overflow: hidden;
    min-height: 200px;
    transition: all 0.25s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.post:hover {
    transform: translate3d(0,-5px,0);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
}

.post-image {
    flex-basis: 40%;
    background-size: cover;
    background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-date {
    font-size: 12px;
    color: #adb5bd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600px
}

.post-title {
    margin-top: 16px;
    font-size: 1.5em;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.post-text {
    margin-top: 8px;
    overflow: hidden;
    max-height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-text p {
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    line-height: 1.4;
    margin: 0;
}

.nav-button.new-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color:rgb(231, 0, 108);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgb(255, 207, 229);
    transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
    background-color: rgb(192, 1, 90);

}

.navigation a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0868ce;
    border: 1px solid #0868ce;
    border-radius: 5px;
    padding: 4px 8px;
    font-weight: 600;
    
}
